
span{
  width: 20px;
  display: inline-block;
  text-align: center;
  margin: 0 20px 20px;
  visibility: hidden;
  color: white;
}

.underline{
  display: inline;
  margin-right: 2vw;
  border-bottom: solid white 5px;
}

#story{
  top: 0%;
  display: block;
  background-color: black;
  height: 100vw;
  width: 100vw;
  position: absolute;
}

#king{
  padding-left: 75px;
  padding-right: 75px;
  width: 400px;
  display:block;
  float: left;
}

.stext{
  top: 0%;
  padding-right: 175px;
  font-size: 35px;
  font-family: 'VT323', monospace;
  color: white;
  display: block;
  text-align: left;
}

button{
    background-color: red;
    border: none;
    color: black;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'VT323', monospace;
}

.resetButton{
  color: white;
  content: url('http://exporter-schools-27746.bitballoon.com/');
}

#win{
  margin-top: 0px;
  background-color: red;
  width: 100vw;
  height: 100vw;
  color: white;
  font-size: 100px;
  display: none;
  font-family: 'VT323', monospace;
}

#lose{
  margin-top: 0px;
  background-color: red;
  font-family: 'VT323', monospace;
  width: 100vw;
  height: 100vw;
  color: Black;
  font-size: 100px;
  display: none;
}

#lose p{
  margin-top:0;
}

#win p{
  margin-top:0;
}

body {
  background-color: black;
  text-align: center;
}

.container{
  overflow: hidden;
  position: relative;
  height: 725px;
  }


.lightning2 {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -12;
  animation: flash 10s infinite linear;
}

.letters{
  position: absolute;
  font-family: 'VT323', monospace;
  font-size: 35px;
  z-index: -5;
  bottom: 4vw;
  right: 0;
  left: 0;
  margin:0 auto;
}

.game-start {
  background-color: black;
  top: 0;
  width: 100vw;
  height: 100vw;
  position: absolute;
  z-index: 5;
  opacity: 1;
}

.game{
  margin-top: 20%;
  background-color: transparent;
  border: 0px;
}

.game:focus{
  outline: none;
}


.lettterbuttons{
  margin-top: 675px;
  right: 255px;

}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}

.hung{
  position: absolute;
  top: 250px;
  right: 570px;
  opacity: 1;
  z-index: -5;
  opacity: 0;
}


@keyframes flash{
  0%{
    opacity: 1;
  }
  10%{
    opacity: .5;
  }
  12%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@media only screen
and (min-width: 375px)
and (max-width: 667px){

      .container{
    height: 900px;
  }

      .lightning2{
        content: url('images/lightning-media.png');
      }

      .bg{
        content: url('images/hanging-tree-media.png');
      }

      .hung{
        content: url('images/hung-man-media.png');
        top: 1px;
        right: 5px;
      }

      .letters{
        bottom: 55vw;
      }


}


