
span{

  width: 20px;
  display: inline-block;
  text-align: center;
  margin: 0 20px 20px;
  visibility: hidden;
  color: white;
}

.underline{
  display: inline;
  margin-right: 2vw;
  border-bottom: solid white 5px;
}
#story{
  top: 0%;
  display: block;
  background-color: black;
  height: 100vw;
  width: 100vw;
  position: absolute;

}
#king{
  padding-left: 75px;
  padding-right: 75px;
  width: 400px;
  display:block;
  float: left;
}

.stext{
  top: 0%;
  padding-right: 175px;
  font-size: 35px;
  font-family: 'VT323', monospace;
  color: white;
  display: block;
  text-align: left;
}

button{
    background-color: #ba65a8;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'VT323', monospace;
}

#imALetter{
  font-size:

}

#click-me{
  font-family: 'VT323', monospace;
}


#win{
  background-color: red;
  width: 100vw;
  height: 100vw;
  color: white;
  font-size: 100px;
  display: none;
}

#lose{
  background-color: red;
  width: 100vw;
  height: 100vw;
  color: Black;
  font-size: 100px;
  display: none;
}

body {
  background-color: black;
  text-align: center;
}

.lightning {
  width: 100vw;
  height: 100vw;
  top: 0;
  position: absolute;
  z-index: -9;
  animation: flash 10s infinite linear;
}

.letters{
  font-family: 'VT323', monospace;
  font-size: 35px;

}

.game-start {
  background-color: black;
  width: 100vw;
  height: 100vw;
  position: relative;
  opacity: 1;
}

.game{
  margin-top: 20%;
  background-color: transparent;
  border: 0px;
}

.game:focus{
  outline: none;
}

.letters{
  margin-top: 45%;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}



@keyframes flash{
  0%{
    opacity: 1;
  }
  10%{
    opacity: .5;
  }
  12%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
