
span{
  border-bottom: solid white 5px;
  width: 20px;
  display: inline-block;
  text-align: center;
  margin: 0 20px 20px;
}

#imALetter{
  font-size:
  font-family: 'VT323', monospace;
}

#click-me{
  font-family: 'VT323', monospace;
}


#win{
  background-color: red;
  width: 100vw;
  height: 100vw;
  color: white;
  font-size: 100px;
  display: none;
}

#lose{
  background-color: red;
  width: 100vw;
  height: 100vw;
  color: Black;
  font-size: 100px;
  display: none;
}

body {
  background-color: black;
  text-align: center;
}

.lightning {
  width: 100vw;
  height: 100vw;
  top: 0%;
  position: absolute;
  z-index: -9;
  animation: flash 10s infinite linear;
}

.letters{
  font-family: 'VT323', monospace;
  font-size: 35px;
}

.game-start {
  background-color: black;
  width: 100vw;
  height: 100vw;
  position: relative;
  opacity: 1;
}

.game{
  margin-top: 20%;
  background-color: transparent;
  border: 0px;
}

.game:focus{
  outline: none;
}

.letters{
  margin-top: 20%;
}

.red {
  background-color: red;
  width: 100vw;
  height: 100vw;
  position: absolute;
  opacity: .2;
  display: none;
}



@keyframes flash{
  0%{
    opacity: 1;
  }
  10%{
    opacity: .5;
  }
  12%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
